<ion-view title="Add Purchase">
    <ion-content>
        <div>
            <label class="item item-input item-floating-label">
                <span class="input-label">What did you buy?</span>
                <input ion-autocomplete type="text" class="ion-autocomplete" autocomplete="on" placeholder="Where did you make your purchase?" />
                <span class="input-label">For how much?</span>
                <input 
                    type="tel" 
                    placeholder="For how much?" 
                    ng-model="purchaseCtrl.item.price"
                    ng-keypress="purchaseCtrl.validatePriceInput($event)">
            </label>
            <button class="button button-positive button-full" 
                    ng-click="purchaseCtrl.addPurchase(purchaseCtrl.item)">
                Submit
            </button>
        </div>

    </ion-content>
</ion-view>